<h2><%= @cocktail.name %></h2>
<ul>
<% @cocktail.doses.each do |d| %>
  <li><%= d.description %>
  <% ingredient = Ingredient.find(d.ingredient_id) %>
  <%= ingredient.name %>
  <%= link_to "Delete ingredient", dose_path(d), method: :delete %>
  </li>
  <% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |q| %>
<label for="name">Description:</label>
<%= q.text_area :description %>
</br>
<%= q.association :ingredient %>
<%= q.submit "Add Ingredient" %>
<% end %>



<!-- <p> <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%> </p> -->
</br>
<p> <%= link_to "Cocktails", cocktails_path, class: "btn btn-primary"%> </p>


