<h2><%= @cocktail.name %></h2>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<ul>
<% @cocktail.doses.each do |d| %>
  <li><%= d.description %>
  <% ingredient = Ingredient.find(d.ingredient_id) %>
  <%= ingredient.name %>
  <%= link_to "Delete ingredient", dose_path(d), method: :delete %>
  </li>
  <% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |q| %>
<label for="name">Description:</label>
<%= q.text_area :description %>
</br>
<%= q.association :ingredient %>
<%= q.submit "Add Ingredient" %>
<% end %>


</br>
<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-default" %>
<%= link_to "Update Cocktail", edit_cocktail_path(@cocktail), class: "btn btn-default" %>



